# Datasets
data/hmdb51/rawframes/
data/hmdb51/videos/

Dataset/
Report/Presentazione Deep Learning.pptx
Report/Discorso Presentazione Deep Learning.docx
Models/
# Files
.vscode
data/hmdb51/videos/rawframes.7z
rawframes.7z
Plots/~$Models_accuracy.xlsx
*.xlsx
Plots/Models_accuracy.xlsx
